<body class="bg_orange">
	<div id="wrapper">
		<header>
			<div class="logo animated-logo bounceInDown "></div>
		</header>

		<div id="main">
                  <br/>
                  <div style="margin: auto; text-align:center;">
                    Lo sentimos. No pudimos registrarte.
                  </div>
                  <br/>
                  <div style="margin: auto; text-align:center;">
                    Por favor llena todos los campos de <br/>registro correctamente y utiliza una versión <br/>actualizada de tu navegador.
                  </div>
                  <br/>
                  <div class="text_error" style="margin: auto; text-align:center;">
                    Te recomendamos utilizar las últimas versiones de<br/> <a href="https://www.mozilla.org/es-MX/firefox/new/" >Firefox</a>, <a href="http://www.google.com.mx/chrome/browser/desktop/index.html"> Google Chrome </a> o Safari.
                  </div>
                </div>
		<!-- close div#main -->
	</div>
	<!-- close div#wrapper -->

</body>
