<%= javascript_include_tag 'display_index' %>

<input id="verificaInput"></input>
<button id="verificaButton">Verifica</button>

<div id="registration" class="registration">
  <label>nombre</label><input id="nombres"></input>
  <label>apellidos</label><input id="apellidos"></input>
  <label>email</label><input id="email"></input>
  <label>telefono</label><input id="telefono"></input>
  <label>calle y número</label><input id="calle"></input>
  <label>colonia</label><input id="colonia"></input>
  <label>municipio/delegacion</label><input id="municipio"></input>
  <label>ciudad</label><input id="ciudad"></input>
  <label>codigo postal</label><input id="codigo"></input>
  <button id="registraButton">Regístrate</button>
</div>
