<%= javascript_include_tag 'display_index' %>

<body class="bg_orange">
    <div class="alert" id="barra_alerta" style="display:none;">Código inválido</div>
    <div id="wrapper">
        <header>
            <div class="logo animated-logo bounceInDown "></div>
        </header>

        <div id="main" class="index">
            <div class="left promocode animated-leftpromocode bounceInLeft">

                <input type="text" placeholder="INGRESA TU CÓDIGO AQUÍ" id="verificaInput"/>
                <input type="submit" value="" id="verificaButton"></div>
            <div class="right animated-page1-bottles zoomInDown">
                <div class="bottles"></div>
            </div>
        </div>

    </div>

</div>
<!-- close div#main -->
<footer>
    <a href="#">Términos y Condiciones</a>
    <a href="#">Ver Aviso De Privacidad</a>
</footer>
</div>
<!-- close div#wrapper -->

</body>
