<%= javascript_include_tag 'display_result' %>
<body class="bg_orange">
	<div id="wrapper">
		<header>
			<div class="logo animated-logo bounceInDown "></div>
		</header>

		<div id="main">

			<div class="felicidades">
				<div class="text animated-congrat bounceInDown">FELICIDADES</div>
				<div class="text1 animated-congrat bounceInLeft">HAS GANADO</div>
				<div class="animated-winsum zoomInDown price">
					<span>$</span> <b>1500</b>
				</div>

				<div class="text2 animated-yourcode bounceInRight">canjeables en</div>
				<div class="tienda animated-tienda bounceInUp">
					<a href="#"></a>
				</div>
				<div class="text2 animated-yourcode2 zoomInDown">USANDO ESTE código</div>
				<div class="codigo animated-wincode bounceInLeft">XXXXXXXXXX</div>
			</div>

		</div>
		<!-- close div#main -->
	</div>
	<!-- close div#wrapper -->

</body>
